
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_noproduct</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Burada urun yok
            </div>
        </div>
    </div>
</body>
</html>
